@keyframes a_shoup_drop_frame {
	0% { top: -200%; opacity: 0; }
	50% { opacity: 1; }
	100% { top: -15vmin; opacity: 1; }
}
@keyframes a_shoup_fade_in {
	from { opacity: 0; }
	to {opacity: 1; }
}
@keyframes a_shoup_photo_fade_in {
	0%, 100% { opacity: 0; }
	25%, 75% { opacity: 1; }
}
@keyframes a_shoup_hue_rotate {
	from { filter: hue-rotate(0deg); }
	to { filter: hue-rotate(360deg); }
}
html, body { padding: 0; margin: 0; }
body {
	background-image: url(/res/pattern.jpg);
	background-color: #2d1f17;
	background-repeat: repeat;
	user-select: none;
	transition: all 0.5s ease;
}
a { 
	color: #ddd;
	text-decoration: none;
	opacity: 0.8;
	padding: 0 25px 0 25px;
}
a:hover {
	color: #fff;
	text-shadow: 3px 3px #444;
}
#shoup {
	position: absolute;
	opacity: 0;
	width: 869px;
	height: 416px;
	top: -200%;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-image: url(/res/shoup.png);
	animation: a_shoup_drop_frame 2s ease 0s 1 normal forwards;
}
#shoup-info {
	position: fixed;
	bottom: 0;
	opacity: 0;
	width: 100%;
	height: 15vmin;
	line-height: 15vmin;
	min-height: 15vmin;
	color: #fff;
	background-color: #000;
	background: rgba(0,0,0,0.4);
	text-align: center;
	font-size: 38px;
	font-weight: bold;
	font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
	margin: auto;
	animation: a_shoup_fade_in 1s ease 1.8s 1 normal forwards
}
#shoup > div, #shoup > div > div {
	opacity: 0;
	width: 137px;
	height: 189px;
	background-repeat: no-repeat;
}
#shoup > div {
	position: absolute;
	top: 116px;
	animation: a_shoup_fade_in 1s ease 1.5s 1 normal forwards, a_shoup_hue_rotate 20s ease 0s infinite normal none;
}
#shoup > div > div { animation: a_shoup_photo_fade_in 10s linear 5s 1 normal forwards; }
#s { background-image: url(/res/s.png); animation-delay: 1.5s !important; left: 88px; }
#h { background-image: url(/res/h.png); animation-delay: 1.9s !important; left: 228px; }
#o { background-image: url(/res/o.png); animation-delay:2.3s !important; left: 368px; }
#u { background-image: url(/res/u.png); animation-delay: 2.7s !important; left: 507px; }
#p { background-image: url(/res/p.png); animation-delay: 3.1s !important; left: 647px; }
#s div { background-image: url(/pic/s.png); animation-delay: 5s !important; }
#h div { background-image: url(/pic/h.png); animation-delay: 15s !important; }
#o div { background-image: url(/pic/o.png); animation-delay: 25s !important; }
#u div { background-image: url(/pic/u.png); animation-delay: 35s !important; }
#p div { background-image: url(/pic/p.png); animation-delay: 45s !important; }

